<!DOCTYPE html>
<html>
<head>
    <div class="system_name">
        <h2>Stylish</h2>
</head>
<body> 
            
            <h3>註冊 Sign Up</h3>
  
            <form action="/user/SignUp" method="POST">
              <div>
              <input type="text" id="username" name="username" placeholder="帳號" required>
             </div>
              <div>
              <input type="password" id="password" name="password" placeholder="密碼" required>
              </div>
              <div>
              <input type="text" id="email" name="email" placeholder="E-mail" required>
              </div>
              <div>
              <input type="submit" name = "signup" value="註冊" class="submit">
              </div>            
            </form>  
  
            <a href="http://localhost:3000/user/SignIn.html">登入帳號</a>
            
        
    </form>

</body>
</html>